<section id="clients" class="bg-gray-800 py-16 text-gray-200">
    <div class="container">
        <div class="w-9/12 mx-auto">
            <h2 class="text-center text-5xl mb-5 font-bold">Our Clients</h2>
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/tulip-w.png" alt="">
                </div>
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/bluebird-w.png" alt="">
                </div>
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/jhilmil-w.png" alt="">
                </div>
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/rambo-w.png" alt="">
                </div>
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/midsky-w.png" alt="">
                </div>
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/y-diamond-w.png" alt="">
                </div>
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/zareen-khan-w.png" alt="">
                </div>
                <div class="w-full md:w-1/4 p-16">
                    <img src="https://zubizi.com/assets/img/portfolio/n-style-w.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>