<footer>
    <section class="bg-neutral-900 text-gray-300 px-5 py-16 ">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 ">
                <div class="mx-6 mb-16">
                    <h6 class="font-bold mb-3">Addons</h6>
                    <ul class="list-none space-y-2">
                        <li><a href="/e-invoice-integration.html" class="text-gray-400 hover:underline">E-Invoicing</a>
                        </li>
                        <li><a href="/e-way-bill-integration.html" class="text-gray-400 hover:underline">E-Way Bill</a>
                        </li>
                    </ul>
                </div>
                <div class="mx-6 mb-16">
                    <h6 class="font-bold mb-3">Free Tools</h6>
                    <ul class="list-none space-y-2">
                        <li><a href="/search-gstin.html" class="text-gray-400 hover:underline">Search GSTIN</a></li>
                        <li><a href="/gst-calculator.html" class="text-gray-400 hover:underline">GST Calculator</a></li>
                        <li><a href="/gst-calculator.html" class="text-gray-400 hover:underline">Invoice Generator</a>
                        </li>
                    </ul>
                </div>
                <div class="mx-6 mb-16">
                    <h6 class="font-bold mb-3">Company</h6>
                    <ul class="list-none space-y-2">
                        <li><a href="/about-us.html" class="text-gray-400 hover:underline">About Us</a></li>
                        <li><a href="/terms-and-conditions.html" class="text-gray-400 hover:underline">Terms &amp;
                                Conditions</a></li>
                        <li><a href="/privacy-policy.html" class="text-gray-400 hover:underline">Privacy Policy</a></li>
                        <li><a href="/return-policy.html" class="text-gray-400 hover:underline">Return Policy</a></li>
                        <li><a href="/contact.html" class="text-gray-400 hover:underline">Contact Us</a></li>
                        <li><a href="/sitemap.html" class="text-gray-400 hover:underline">Sitemap</a></li>
                    </ul>
                </div>
                <div class="mx-6 mb-16">
                    <h6 class="font-bold mb-3">Contact</h6>
                    <ul class="list-none space-y-2 text-sm">
                        <li>
                            <strong>Registered Address:</strong> R-183/C, SA Farooque Road, Kolkata - 700024, West
                            Bengal, India
                        </li>
                        <li><strong>Sales:</strong> 9830 808 608</li>
                        <li><strong>Support:</strong> 7604 017 183</li>
                        <li><strong>Email:</strong> info@zubizi.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="py-3 bg-neutral-950 text-white px-5">
        <div class="container mx-auto">
            <small>Zubizi Web Solutions is a venture of <a href="https://pineorange.com" target="_blank" class="text-orange-500">Pine Orange Pvt. Ltd.</a></small>
        </div>
    </section>

</footer>

<script src="/assets/js/app.js"></script>