<header class="relative bg-transparent p-6 w-full duration-500 text-white" id="header">
    <div class="sm:w-8/12 mx-auto flex justify-between items-center">
        <a href="/">
            <div class="flex items-center space-x-3">
                <img src="https://zubizi.com/assets/img/white-logo.png" alt="Zubizi Web Solutions"
                    style="width: 40px;" />
                <span class="text-2xl ">Zubizi Web Solutions</span>
            </div>
        </a>
        <!-- @include ./menu.html -->
    </div>
</header>